#desc {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../asset/homebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
